.App {
  text-align: center;
  height: 35rem;
  width: 30rem;
  background-color: rgb(248 249 251);
  padding: auto;
  margin:8rem auto;
}

body {
  background:
    linear-gradient(
    rgba(246,247,249,0.8),
    rgba(246,247,249,0.8)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/sky-clouds-cloudy-mountain.jpg) no-repeat center center fixed;
  background-size: cover;
}

#heading {
  font-size: 60px;
  margin-top: 1px;
  padding-top: 1px;
}



