.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#search {
  font-size: 6em;
  color:#f0ffffd4;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(238, 207, 207);
}

#inputarea {
  width:25em;
  height: 2em;
  font-size: 1.5em;
  outline: none;
}

input:focus{
  outline: none !important;
  border-radius: 3px !important;
  border-bottom: none;
}


#suggestions {
  cursor: pointer;
  outline: none;
  width:36.85em;
  height: 2em;
  text-align: left;
  padding-left: 1em;
   margin-left: 29.1em; 
   margin-right: 20em; 
  background-color: white; 
  border-right: 1px,solid,black;
  border-left: 1px,solid,black;
  border-bottom: 1px,solid,black;
  }
#suggestions:hover{
  background-color: rgb(97, 90, 90);
}
