.container {
    display: inline-block;
    margin-top: 1rem;
}

.tag-container {
    background-color: white;
    border:2px solid rgb(102 199 255);
    padding: 15px;
    display: flex;
    border-radius: 5px;
    width: 35em;
    margin: auto;
    height: 1.7em;
    overflow: scroll;
}
.tag-container::-webkit-scrollbar{
    display: none;
}
.tag-container .tag-item {
    padding: .2rem .5rem;
    border:.4px solid rgb(102 199 255);
    margin: 2px 3px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(241, 238, 231);
    cursor: default;
  }
  .tag-item:hover{
    background-color: rgb(175, 159, 159);
  }

  .tag-container #input {
      flex: 1;
      font-size: 16px;
      padding: 5px;
      border: 0;
  }
  
  .tag-item > .button {
    background-color:rgb(241, 238, 231);
    width: 22px;
    height: 20px;
    border-radius: 40%;
    border: none;
    cursor: pointer;
    font: inherit;
    margin-left: 10px;
    font-weight: bold;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  input:focus{
    outline: none !important;
  }
  
  #suggestions {
    cursor: pointer;
    outline: none;
    width:36em;
    height: 2em;
    text-align: left;
    padding-top: 2px;
    padding-left: 1em;
    margin: auto;
     /* margin-left: 29.1em; 
     margin-right: 20em;  */
    background-color: white;
    }
  #suggestions:hover{
    background-color: rgb(97, 90, 90);
  }
  #search {
    font-size: 6em;
    color:#f0ffffd4;
  }